<h2 class="text-xs-center">Blog Post</h2>
<hr/>
<div class="row">
  <div class="col-md-4">
      <app-imagepost 
      [image]="model.Image"
      (imageChange)="Changeimage($event)"></app-imagepost>
  </div>

  <div class="col-md-8">
    <form (submit) ="createPost()">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="model.title">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" name="content" [(ngModel)]="model.content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-md ">Create</button>
      </form>
  </div>
</div>

