<div class="w3-container w3-padding-16 w3-margin w3-cell-row">
  <h2>Blog Post!!</h2>

  <div class="w3-card-4">
    <div class="w3-container w3-green">
      <h2>Blog Post Form</h2>
    </div>
    <div class="w3-panel w3-card">
      <app-imagepost 
      [image]='model.image'
      (imageChange)="Changeimage($event)"></app-imagepost>
    </div>

    <form (submit)="createPost()" class="w3-container">
      <p>
        <label>Title</label>
        <input class="w3-input" type="text" name="title" placeholder="Title" [(ngModel)]="model.title"  >
      </p>
      <p>
        <label>Content</label>
        <textarea class="w3-input" type="text" name="content" [(ngModel)]="model.content" ></textarea>
      </p>
      <p>
        <button type="submit" class="w3-btn w3-blue">Create</button>
      </p>

    </form>
  </div>
</div>